@charset "utf-8";

body {
    font-family: Arial, sans-serif;
    background-color: rgb(24, 23, 23);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: #119917;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 160px;
    cursor: pointer;
    margin-bottom: 2px;
}

.dropdown-btn:hover{
    background-color: #15c741;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
